<%- partial("menu.ejs") %>
<section class="hero is-fullheight" style="margin-top:3.25rem">
  <div class="hero-body">
    <div class="box has-box-shadow" style="padding:0.9rem;margin-bottom: 0;">
      <div class="media" style="padding-bottom:0.5rem">
        <figure class="media-left">
          <p class="image is-48x48">
            <img class="is-rounded" src="<%= url_for(theme.profile_pic) %>" alt="profile pic">
          </p>
        </figure>
        <div class="media-content">
          <div class="content" style="margin-top:5px">
            <h1 class="title is-6"><%- item.title || theme.default_post_title || "Untitled" %></h1>
            <h2 class="subtitle is-size-7 has-text-grey">
              <span class="icon is-small"><i class="fas fa-calendar"></i></span> <%= item.date.format(config.date_format) %>
              &nbsp;
              <span class="icon is-small"><i class="fas fa-user"></i></span> <%- item.author ? item.author : config.author  %>
            </h2>
          </div>
        </div>
      </div>
      <figure class="image">
        <!-- Gallery -->
        <% if (item.photos && item.photos.length){ %>
            <%- partial('gallery') %>
        <% } %>
      </figure>
      <div class="content content-box">
        <%- item.content %>
        <!-- Tags -->
        <%- partial('article-tags') %> 
        <%- partial("article-nav.ejs") %> 
        <%- partial("comments.ejs") %>    
      </div>      
    </div>
  </div>
</section>
<%- partial('_partial/footer') %>