<div class="hero is-fullheight" style="margin-top:3.25rem">
  <div class="hero-body" style="padding-bottom: 0">
    <div class="box has-box-shadow" style="padding-left:0;padding-right:0;padding-top:0;padding-bottom:1.1rem;">
      <div class="media">
        <figure class="image">
          <img src="<%= url_for(theme.cover_page) %>" style="border-top-left-radius:10px;border-top-right-radius:10px;" alt="<%- config.title %>">
        </figure>
      </div>
      <div class="content has-content-padding">
        <%- item.content %>
        <!-- Tags -->
        <%- partial('article-tags') %>
        <%- partial("_partial/comments.ejs") %>
      </div>
    </div>
  </div>
</div>