<section class="hero is-fullheight" style="margin-top:3.25rem">
</div>
  <div class="hero-body" style="padding-bottom: 0">
    <div class="box box-mobile has-box-shadow" style="width: 100%">
      <div class="media" style="margin-bottom:1em">
        <figure class="media-left">
          <p class="image is-48x48">
            <img class="is-rounded" src="<%= url_for(theme.profile_pic) %>" alt="profile pic">
          </p>
        </figure>
        <div class="media-content">
          <div class="content" style="margin-top:5px">
            <h1 class="title is-6"><%- item.title || theme.default_post_title || "Untitled" %></h1>
            <h2 class="subtitle is-size-7 has-text-grey">
              <span class="icon is-small"><i class="fas fa-calendar"></i></span> <%= item.date.format(config.date_format) %>
              &nbsp;
              <span class="icon is-small"><i class="fas fa-user"></i></span> <%- item.author ? item.author : config.author  %>
            </h2>
          </div>
        </div>
      </div>
      <div class="content">
        <!-- Gallery -->
        <% if (item.photos && item.photos.length){ %>
            <%- partial('gallery') %>
        <% } %>
        <div class="post">
          <%- item.content %>
        </div>
        <!-- Tags -->
        <div class="tags" style="margin-top: 0.6em;">
          <%- partial('article-tags') %> 
        </div>
        <%- partial("article-nav.ejs") %>   
      </div>      
    </div>       
  </div>
  <!-- comments -->
  <%- partial("comments.ejs") %>  
</section>