<div class="box has-bg-shadow margin-bottom-8" style="border-radius: 10px">
  <div class="media">
    <figure class="image">
      <img src="<%= url_for(theme.cover_page) %>" style="border-top-left-radius:10px;border-top-right-radius:10px;" alt="<%- config.title %>">
    </figure>
  </div>
  <figure id="profile_pic" class="image is-128x128 has-image-centered">
    <img class="is-rounded" src="<%= url_for(theme.profile_pic) %>" alt="profile pic" style="background: white;padding: 4px">
  </figure>
  <div class="profile_info">
    <h1 class="title is-3"> <%= config.title %> </h1>
    <h2 class="subtitle is-6" style="margin-bottom: 0.8rem"> <% if (config.description){ %><%= config.description %><% } %> </h2>
    <span class="button is-static is-small" style="border: unset"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>&nbsp;<%= theme.location %></span>
  </div>
</div>

