<%- partial('_partial/menu') %>
<%- partial('_partial/header') %>
<div class="columns is-multiline main">
    <% page.posts.each(function(item){ %>
        <%- partial('_partial/article-excerpt', {item: item}) %>
    <% }); %>
</div>
<%- partial('_partial/pagination') %>
<%- partial('_partial/footer') %>